@font-face {
    font-family: "sarabun";
    src: url("sarabun.eot"); /* IE9 */
    src: url("sarabun.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
    url("sarabun.woff") format("woff"), /* chrome, firefox */
    url("sarabun.ttf") format("truetype"), /* chrome, firefox, opera, Safari, Android, iOS 4.2+ */
    url("sarabun.svg#sarabun") format("svg"); /* iOS 4.1- */
    font-style: normal;
    font-weight: normal;
}


